h1, h2, h3, h4, h5, h6{
font-family: 'Montserrat Black';

}



p{

  font-family: 'Montserrat Light';


}
body{
    font-family: 'Montserrat';
    text-align: center;
}

/* HEADINGS */

.big-heading{

  font-size: 3rem;
  line-height: 1.5;
  color: white;


}

.testimonial-heading{
  line-height: 1.5;
  font-size: 2.5rem;

}

/* TTITLE SECTION */
#title{
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}


.container-fluid{
  padding: 7% 15%;

}

#title .container-fluid{
  padding: 3% 7% 15%;

}
/* NAVIGATION BAR */

.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat Light';
}

/* DOWNLOAD BUTTONS */
.download-buttons{
  margin: 5% 3% 5% 0;

}

.title-image{
  width: 60%;
  transform: rotate(25deg);


  position: absolute;
}


/* FEATURE SECTION */
#features{
  background-color: #fff;
  position: relative;


}

.feature-box{
  padding: 4.5%;
}


.icon{
  color: #ef8172;
  margin-bottom: 1rem;

}

.icon:hover{
  color: #ff4c68;
}

.feature-title{
  font-family: 'Montserrat Black';
  font-size: 1.5rem;
}

/* TESTIMONIAL SECTION */
#testimonials{
  background-color: #ef8172;
    color: #fff;


}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}

/* PRESS SECTION */
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/* PRICING SECTION */
#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

.price-text{
  font-family: 'Montserrat Black';
  line-height: 1.5;
  font-size: 2.5rem;

}


/* CTA SECTION */


/* FOOTER SECTION */
#footer{

}


/* SECTION-COLOUR */
.coloured-section{
  background-color: #ff4c68;
    color: #fff;

}

.white-section{
  background-color: #fff;

}


.social-icons{
  margin: 20px 10px;
}


@media (max-width: 1005px) {
#title{
  text-align: center;
}

.title-image{
  position: static;
  transform: rotate(0);
}
}
